stepfunction/stepfunction.json
{
  "Comment": "ECS tasks for ecommerce with validation output read from S3",
  "StartAt": "RunECSTask1",
  "States": {
    "RunECSTask1": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "lab6-ECScluster",
        "TaskDefinition": "ecommerce-validation-task",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-06900e97dc30a2ef6",
              "subnet-05d5dac0c244cb2ab"
            ],
            "AssignPublicIp": "DISABLED",
            "SecurityGroups": [
              "sg-09a95ea9f6ce5d57e"
            ]
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "validation-container",
              "Environment": [
                {
                  "Name": "S3_BUCKET_NAME",
                  "Value": "lab6-bucket-ecs"
                },
                {
                  "Name": "ORDERS_PATHS",
                  "Value.$": "States.JsonToString($.orders_paths)"
                },
                {
                  "Name": "ORDER_ITEMS_PATHS",
                  "Value.$": "States.JsonToString($.order_items_paths)"
                },
                {
                  "Name": "PRODUCTS_PATH",
                  "Value.$": "$.products_path"
                },
                {
                  "Name": "PROCESSING_RESULT_S3_KEY",
                  "Value": "validation_output/result.json"
                },
                {
                  "Name": "AWS_DEFAULT_REGION",
                  "Value": "eu-north-1"
                },
                {
                  "Name": "SPARK_LOCAL_IP",
                  "Value": "127.0.0.1"
                },
                {
                  "Name": "HOME",
                  "Value": "/root"
                },
                {
                  "Name": "MASTER",
                  "Value": "local[*]"
                }
              ]
            }
          ]
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "SendFailureAlert"
        }
      ],
      "Next": "ReadProcessingResult"
    },
    "ReadProcessingResult": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-north-1:269610886972:function:lab6-tasksvalidation",
      "ResultPath": "$.processing_result",
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 2,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "SendFailureAlert"
        }
      ],
      "Next": "Wait"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "RunECSTask2"
    },
    "RunECSTask2": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "lab6-ECScluster",
        "TaskDefinition": "ecommerce-transformation-task",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-06900e97dc30a2ef6",
              "subnet-05d5dac0c244cb2ab"
            ],
            "AssignPublicIp": "DISABLED",
            "SecurityGroups": [
              "sg-09a95ea9f6ce5d57e"
            ]
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "transformation-container",
              "Environment": [
                {
                  "Name": "SPARK_LOCAL_IP",
                  "Value": "127.0.0.1"
                },
                {
                  "Name": "HOME",
                  "Value": "/root"
                },
                {
                  "Name": "S3_BUCKET_NAME",
                  "Value": "lab6-bucket-ecs"
                },
                {
                  "Name": "VALIDATED_ORDERS_PATH",
                  "Value": "s3://lab6-bucket-ecs/validated/orders/"
                },
                {
                  "Name": "VALIDATED_ORDER_ITEMS_PATH",
                  "Value": "s3://lab6-bucket-ecs/validated/order_items/"
                },
                {
                  "Name": "VALIDATED_PRODUCTS_PATH",
                  "Value": "s3://lab6-bucket-ecs/validated/products/"
                },
                {
                  "Name": "PROCESSING_DATE",
                  "Value.$": "$.processing_result.processing_date"
                },
                {
                  "Name": "AWS_DEFAULT_REGION",
                  "Value": "eu-north-1"
                },
                {
                  "Name": "MASTER",
                  "Value": "local[*]"
                },
                {
                  "Name": "CATEGORY_KPI_TABLE",
                  "Value": "category_table"
                },
                {
                  "Name": "ORDER_KPI_TABLE",
                  "Value": "order_table"
                }
              ]
            }
          ]
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "SendFailureAlert"
        }
      ],
      "End": true
    },
    "SendFailureAlert": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:eu-north-1:269610886972:validation_failure",
        "Message": "ECS Task failed after retries in Step Functions.",
        "Subject": "Step Functions ECS Task Failure Alert"
      },
      "End": true
    }
  }
}
