stepfunction/stepfunction.json
{
  "Comment": "ECS tasks fro ecommerce",
  "StartAt": "RunECSTask1",
  "States": {
    "RunECSTask1": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "lab6-ECScluster",
        "TaskDefinition": "ecommerce-validation-task",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["PrivateSubnet1-lab6", "PrivateSubnet2-lab6"],
            "AssignPublicIp": "DISABLED",
            "SecurityGroups": ["sg-09a95ea9f6ce5d57e"]
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "validation-container",
              "Environment": [
                { "Name": "S3_BUCKET_NAME", "Value": "lab6-bucket-ecs" },
                { "Name": "ORDERS_PATH", "Value.$": "$.orders_path" },
                { "Name": "ORDER_ITEMS_PATH", "Value.$": "$.order_items_path" },
                { "Name": "PRODUCTS_PATH", "Value.$": "$.products_path" },
                { "Name": "AWS_DEFAULT_REGION", "Value": "eu-north-1" },
                { "Name": "SPARK_LOCAL_IP", "Value": "127.0.0.1" },
                { "Name": "HOME", "Value": "/root" },
                { "Name": "MASTER", "Value": "local[*]" }
              ]
            }
          ]
        }
      },
      "ResultSelector": {
        "processing_date.$": "$.Output.processing_date"
      },
      "ResultPath": "$.validation_result",
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "SendFailureAlert"
        }
      ],
      "Next": "WaitBeforeNextTask"
    },

    "WaitBeforeNextTask": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "RunECSTask2"
    },

    "RunECSTask2": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "lab6-ECScluster",
        "TaskDefinition": "ecommerce-transformation-task",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["PrivateSubnet1-lab6", "PrivateSubnet2-lab6"],
            "AssignPublicIp": "DISABLED",
            "SecurityGroups": ["sg-09a95ea9f6ce5d57e"]
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "transformation-container",
              "Environment": [
                { "Name": "SPARK_LOCAL_IP", "Value": "127.0.0.1" },
                { "Name": "HOME", "Value": "/root" },
                { "Name": "S3_BUCKET_NAME", "Value": "lab6-bucket-ecs" },
                { "Name": "VALIDATED_ORDERS_PATH", "Value": "s3://lab6-bucket-ecs/validated/orders/" },
                { "Name": "VALIDATED_ORDER_ITEMS_PATH", "Value": "s3://lab6-bucket-ecs/validated/order_items/" },
                { "Name": "VALIDATED_PRODUCTS_PATH", "Value": "s3://lab6-bucket-ecs/validated/products/" },
                { "Name": "PROCESSING_DATE", "Value.$": "$.validation_result.processing_date" },
                { "Name": "AWS_DEFAULT_REGION", "Value": "eu-north-1" },
                { "Name": "MASTER", "Value": "local[*]" },
                { "Name": "CATEGORY_KPI_TABLE", "Value": "category_table" },
                { "Name": "ORDER_KPI_TABLE", "Value": "order_table" }
              ]
            }
          ]
        }
      },
      "Retry": [
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "SendFailureAlert"
        }
      ],
      "End": true
    },

    "SendFailureAlert": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "arn:aws:sns:eu-north-1:269610886972:validation_failure",
        "Message": "ECS Task failed after retries in Step Functions.",
        "Subject": "Step Functions ECS Task Failure Alert"
      },
      "End": true
    }
  }
}
